.body{
}
.container{
    width: 75%;
    margin: auto;
    box-shadow: 1px 1px 8px 1px black;;
    background-color: rgba(241, 234, 234, 0.548);
}
.header{
    color: rgb(170, 46, 46);
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}
.content{
    width: 100%;
    margin-top: 70px;
}
.content::before,
.content::after{
    content: "";
    display: table;
}
.content::after{
    clear: both;
}
.logo{
    float: left;
    width: 17%;
    margin:1%;
    padding: 3px;
    border: 1px solid red;
    height: 90px;
    display: flex;
    background-color: white;
}
.logo:hover{
    border: 4px double red;
    padding: 0;
    cursor: pointer;

}
.facebook{
    color: white;
    background-color: #1877f2;
    width: 90%;
    margin: auto;
    height: 55%;
    line-height: 46.75px;
    text-align: center;
    font-size: 29px;
    font-weight: 1000;
    user-select: none;
    
}
.microsoft{
    font-size: 30px;
    font-weight: 1000;
    margin: auto;
    font-style: italic;
    user-select: none;
}
.quora{
    color: white;
    background-color: red;
    width: 100%;
    margin: auto;
    height: 85%;
    line-height: 76px;
    text-align: center;
    font-size: 45px;
    font-weight: 1000;
    user-select: none;
}
.jump img{
    width: 40px;
    float: left;
}
.jump{
    width: 100%;
    margin: auto;
}
.jump .test{
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: 1000;
    font-size: 23px;
}
.width-100{
    width: 100%;
}