.newspaper{
    width: 75%;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    box-shadow: 1px 1px 3px 2px black;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */ 
    /* -moz-column-count: 3; Firefox  */
    column-count: 3; 
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */ 
    /* -moz-column-gap: 40px; Firefox  */
    column-gap: 40px; 
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */ 
    /* -moz-column-rule-style: solid; Firefox  */
    column-rule-style: solid; 
    -webkit-column-rule-width:1px; /* Chrome, Safari, Opera */ 
    /* -moz-column-rule-width:1px; Firefox */
     column-rule-width:1px; 
    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */ 
    /* -moz-column-rule-color: lightblue; Firefox  */
    column-rule-color: lightblue;

}