.ColorfulStyle{
    text-shadow: 1px 3px 1px rgb(211, 10, 44),1px 2px 1px yellow, -2px -3px 1px green 
    
}
.InsetEffect{
    background-color: rgb(241, 202, 208);
    width: 85px;
    text-align: center;
    color: rgba(167, 1, 167, 0.952);
    font-size: large;
}
.DoubleFont{
    text-shadow: 0px -6px 0px rgb(206, 43, 206);
}
.GlossyStyle{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%); 
    background-clip: text;
    color: transparent;
}